.intro_header {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background: url(../img/intro.jpg);
    margin: 0 auto;
}

.intro_section {
    position: relative;
    top: 30%;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    background-color: white;
    border: 2px solid skyblue;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 30px;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;
}
