{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!--헤더-->
    <div class="header">
        {% include 'header.html' %}

        <div class="section">
            <h2>여행 코스</h2>
            <p>사이트 운영자가 추천하는 여행지들 입니다.</p>
        </div>
        <div class="searchArea">
          <input type="search" class="search" placeholder="가고싶은 지역을 검색해주세요" maxlength="10" size="40">
          <input type="submit" class="search_submit" value="검색">
        </div>
    </div>

    <hr style="background-color: white; height: 10px;border: 0px;">

<!-- 메인 내용 -->
    <div class="contain">
        <p align=center> <button><a href="/write/" style="text-decoration: none; color: black;">게시글 작성</a></button></p>
    </div>

{% endblock %}