{% extends 'base.html' %}
{% load static %}

{% block content %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.contents a').fadeOut(0);
            setInterval(function () {
                $('.1').delay(000).fadeIn(1000).delay(5000).fadeOut(1000).delay(3000);
                $('.2').delay(1000).fadeIn(1000).delay(5000).fadeOut(1000).delay(2000);
                $('.3').delay(2000).fadeIn(1000).delay(5000).fadeOut(1000).delay(1000);
            }, 2000);

            $('.button').click(function(){
                $('.popup').css('opocity', 0.3);
                $('.popup').remove();
            })
            $('button')
        });
    </script>
    <!--팝업창-->
    <div class="popup">
        <div class="popup_title">저희 홈페이지를 찾아주셔서 감사합니다.</div>
        <div class="popup_content">
            <p>저희 Go Trip을 찾아주셔서 감사합니다.</p>
            <p>
                여행을 좋아하는 제작자가 이런 사이트가 있으면 좋겠다는 마음으로 만들어 졌습니다.<br>
                제작자가 처음 만들어본 웹페이지이므로 형편없을 수도 있지만 지나가주세요.<br>
                방학동안 백엔드개발을 배워서 더 나은 모습으로 돌아오겠습니다. 감사합니다.
            </p>
            <p>감사합니다.</p>
        </div>
        <div class="cmd">
            <input type="button" name="btnclose" class="button" value="닫기" >
        </div>
    </div>

    <!--헤더-->
    <div class="header" style="height:576px;">
        {% include 'header.html' %}

        <div class="section">
            <h2 style="font-size: 60px; margin-bottom: 20px;">GO TRIP</h2>
            <div class="main_searchArea">
                <input type="search" class="search" placeholder="가고싶은 지역을 검색해주세요" maxlength="10" size="40">
                <input type="submit" class="search_submit" value="검색">
            </div>

            <br><br><br><br>
            <h3>계절별 추천 여행지</h3>
            <ul class="best_season">
                <li>
                    <div class="section_title">봄</div>
                    <div class="section_contents">
                        <a href="여행지/제주도.html" class="1">1. 제 주 도</a><br>
                        <a href="여행지/대구.html" class="2">2. 대 구</a><br>
                        <a href="여행지/세종특별자치시.html" class="3">3. 세 종</a><br>
                    </div>
                </li>

                <li>
                    <div class="section_title">여름</div>
                    <div class="section_contents">
                        <a href="여행지/강릉.html" class="1">1. 강 릉</a><br>
                        <a href="여행지/부산.html" class="2">2. 부 산</a><br>
                        <a href="여행지/포항.html" class="3">3. 포 항</a><br>
                    </div>
                </li>

                <li>
                    <div class="section_title">가을</div>
                    <div class="section_contents">
                        <a href="여행지/제주도.html" class="1">1. 제 주 도</a><br>
                        <a href="여행지/대구.html" class="2">2. 대 구</a><br>
                        <a href="여행지/세종특별자치시.html" class="3">3. 세 종</a><br>
                    </div>
                </li>

                <li>
                    <div class="section_title">겨울</div>
                    <div class="section_contents">
                        <a href="여행지/제주도.html" class="1">1. 제 주 도</a><br>
                        <a href="여행지/강릉.html" class="2">2. 강 릉</a><br>
                        <a href="여행지/영덕.html" class="3">3. 영 덕</a><br>
                    </div>
                </li>
            </ul>
        </div>
    </div>

<!-- 메인 내용 -->
    <hr style="background-color: white; height: 10px;border: 0px;">
    <div class="contain">
        <br><br>

        <div class="main_text">
            <h1>WHO?</h1>
            <div class="main_contents1"> 누구를 위한 것인가? </div>
            <div class="info">
                <div class="main_photo"><img src="{% static '/img/who.png' %}"></div>
                <div class="main_contents2">
                    <br>
                    <br>저희 GO TRIP은 여행을 가고 싶지만 어느 지역에 어떤 관광지가 있는지 모르는 사람
                    <br>
                    <br>인기있는 식당, 숙소 등을 잘 모르는 사람
                    <br>
                    <br>계절에 따른 추천 여행지를 잘 모르는 사람들을 위해 만들어졌습니다.
                </div>
            </div>
        </div>

        <div class="main_text">
            <h1>What information?</h1>
            <div class="main_contents1"> 어떤 정보를 주는가?? </div>
            <div class="info">
                <div class="main_photo"><img src="{% static '/img/돋보기.png' %}"></div>
                <div class="main_contents2">
                    <br>여행 코스에는 계절에 따라 각 지역의 추천 여행 코스가 정리되어 있습니다.
                    <br>지역을 클릭하여 다양한 여행코스를 확인해보실 수 있습니다.
                    <br>
                    <br>여행지 후기에서는 고객들이 직접 가본 여행지들의 후기를 보실 수 있습니다.
                    <br>식당이나, 숙소의 후기를 클릭하시면 네이버의 후기들을 확인하실 수 있습니다.
                    <br>
                    <br>나의 여행코스에서는 직접 여행 계획을 작성 할 수 있습니다.
                </div>

            </div>
        </div>
    </div>

{% endblock %}